body {
    font-family: Georgia;
    font-size: 17px;
    color: rgb(185, 185, 185);
    margin: 0 auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgb(27, 27, 27);
}

@media screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }
}

h1 {
    text-align: center;
    color: darkorchid;
}

h3 {
    padding: 10px;
}

h4 {
    text-align: center;
    color: darkorchid;
}

a {
    color: darkorchid;
}

hr {
    margin-bottom:20px;
    width: 60%;
    color:darkorchid;
}

p.description {
    padding: 5px;
}

.band img {
    height: 300px;
}

.example-mix {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.example-mix iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-container {
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}
   
.iframe-container iframe {
     border: 0;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}

.bg-image {
    background: url(https://cdn.pixabay.com/photo/2018/04/05/15/19/abstract-3293076_960_720.jpg);
    border: 2px solid darkviolet;
    background-size: cover;
}

.bg-color {
    margin:30px;
    padding: 30px;
    background: rgba(0,0,0,.40);
}

.bg-image:hover .bg-color {
    background: rgba(0,0,0,.65);
}

.band {
    padding-top: 20px;
}

.band img {
    width: 100%;
    height: auto;
}

.subgenre {
    margin-top: 50px;
}

#about-project {
    padding-top: 35px;
    padding-bottom:5px;
}

#menu {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-top: 20px;
    border-top: 1px solid darkorchid;
    border-bottom: 1px solid darkorchid;
    border-color: darkorchid;
}

#menu td {
    padding: 20px;
}

#rating {
    margin-top: 30px;
    margin-left: 10px;
    padding: 10px;
}

#footer {
    color: darkgray;
    font-size: 12px;
    margin-top: 64px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
}

#footer img {
    width: 30px;
    height: auto;
}
